@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container">
    <br /><br /><br /><br /><br />
    <div id="myDiv" role="alert">
        <p id="notenough"></p>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card">
                    @{
                        var base64 = Convert.ToBase64String(item.ProductImage);
                        var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgSrc" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Titel</h5>
                        <p class="card-text">
                            @string.Format("{0:c}", item.SellPrice)
                            <button id="@item.Id" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button id="@item.Id" class="btn btn-danger">
                                <i class="fa fa-minus"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var sum = 0;
        $("button").on("click", function () {
            var currId = $(this).attr('id');

            if ("btnLogout" == currId)
                return;

            var currClass = $(this).attr('class');

            if (currClass == "btn btn-success") {
                sum++;
            } else {
                if (sum <= 0) {
                    return;
                }
                sum--;
            }

            $("#cardSpan").text(sum);

            let tag = {
                "Id": currId,
                "bootstapClassname": currClass
            };

            console.log(tag);
            $.ajax({
                type: "POST",
                dataType: "json",
                data: tag,
                url: "Home/Card",

                success: function (response) {
                    $("#myDiv").removeClass("alert alert-danger");
                    $("#notenough").text("");

                    if (response.success) {
                        $("#myDiv").addClass("alert alert-success");
                        $("#notenough").text(response.responseText);
                    } else {
                        $("#myDiv").addClass("alert alert-danger");
                        $("#notenough").text(response.responseText);
                    }
                },

                error: function (response) {
                    console.log(response);
                    $("#myDiv").addClass("alert alert-danger");
                    $("#notenough").text(response);
                }
            })
        })
    })
</script>
